@import "./nullstyle.scss";

* {
    background: inherit;
    outline: none;
}

.hidden {
    display: none;
}

.title {
    margin-top: 60px;
    width: min-content;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.todos__filters {
    display: flex;
    width: 100%;
    max-width: 280px;
    justify-content: space-between;
}

.filter__button {
    border: none;
    background: none;
}

.current {
    color: #d97b00;
}

.todo__input {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid #000;
}

.todo {
    margin-top: 10px;
    display: none;
}

.todo_active {
    display: initial;
}

.todo__container {
    display: none;
    border: 1px solid #000;
    border-radius: 10px;
    height: 30px;
}

.todo__container_active {
    display: flex;
    align-items: center;
}

.todo__button-complete {
    border: none;
    background: none;
    border-right: 1px solid #000;
}

.todo__button-complete_completed {
    color: rgb(51, 175, 51);
}

.todo_complete-text {
    text-decoration: line-through;
    color: #999;
}

.todo__text {
    width: 100%;
    margin-left: 10px;
    overflow: hidden;
    font-size: 18px;
}

.todo__button-delete {
    border-radius: 100%;
    width: 30px;
    border: 0px;
    font-size: 20px;
}

.todos {
    display: flex;
    flex-direction: column;
}

.todos__completed {
    margin: 10px 0;
}

.todo__change-label {
    width: 100%;
    display: none;
    height: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 35px;
}

.todo__change-label_active {
    display: initial;
}

.todo__delete-completed {
    display: none;
    border: none;
    background-color: #ccc;
    border-radius: 25px;
    height: 20px;
    line-height: 0px;
}

.todo__delete-completed_active {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}